html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Checkout Demo

    link(rel='dns-prefetch', href='//fonts.googleapis.com')
    link(rel='dns-prefetch', href='//maxcdn.bootstrapcdn.com')

    link(rel="stylesheet"  href="//fonts.googleapis.com/css?family=Roboto")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="bower_components/html5-boilerplate/dist/css/normalize.css")
    link(rel="stylesheet", href="bower_components/html5-boilerplate/dist/css/main.css")
    link(rel="stylesheet", href="app.css")

    script(src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js")

  body(ng-app="app")
    div(data-ui-view="header")
    div(id="shell-content", data-ui-view="content")
    div(data-ui-view="footer")

    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")

    script(src="app/app.js")
    script(src="app/app.routes.js")

    script(src="app/layout/header.js")
    script(src="app/store/store.js")
    script(src="app/checkout/checkout.js")
    script(src="app/order/cart.js")
    script(src="app/order/orderItem.js")

    script(src="app/services/dataservice.js")
    script(src="app/services/pricing.js")
